<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [mode]="'over'">
    <mat-toolbar ><mat-icon class="item-icon">build</mat-icon>Services</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/tinyurl" class="menu-item"><mat-icon class="item-icon">link</mat-icon>Url Shortner</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/calculator" class="menu-item"><mat-icon class="item-icon">calculate</mat-icon>Calculator</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/weather" class="menu-item"><mat-icon class="item-icon">thermostat</mat-icon>Weather</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="menu-burger"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
       >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="menu-title">Utility Function Services</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
