<div class="container">
    <div class="row">
        <calcscreen id="calcscreen"class="col"></calcscreen>

    </div>
    <div class="row">
        <calcbtn class="col"[value]= "'7'"></calcbtn>
        <calcbtn class="light col"[value]="'8'" ></calcbtn>
        <calcbtn class="light col"[value]="'9'"></calcbtn>
        <calcbtn class="dark col" [value]="'*'"></calcbtn>

    </div>
    <div class="row">
        <calcbtn class="light col" [value]="'4'"></calcbtn>
        <calcbtn class="light col" [value]="'5'"></calcbtn>
        <calcbtn class="light col" [value]="'6'"></calcbtn>
        <calcbtn class="grey col" [value]="'-'"></calcbtn>
    </div>
  
    <div class="row">
        <calcbtn class="light col" [value]="'1'"></calcbtn>
        <calcbtn class="light col" [value]="'2'"></calcbtn>
        <calcbtn class="light col" [value]="'3'"></calcbtn>
        <calcbtn class="grey col" [value]="'+'"></calcbtn>

    </div>
    
    <div class="row">
        <calcbtn class="light col" [value]="'0'"></calcbtn>
        <calcbtn disabled class="light col" [value]="'.'"></calcbtn>
        <calcbtn class="purple col" [value]="'='"></calcbtn>
        <calcbtn class="light col" [value]="'/'"></calcbtn>
    </div>

   
    <div class="row">
        
        <calcbtn class="col" id="clear" [value]="'Clear'"></calcbtn>
      
    </div>

</div>

